In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv('../OutputCSV/saved_data.csv')
df

,UserId,First Name,Last Name,Contact No,Email,Resident Address,Education,Project,Experience,Skills,Certificate,Achievement,Summary
0,NaN,siddhant,thombare,7875757947,siddhantthombare2121@gmail.com,near hanuman mandir shahunagar kedgaon ahmednagar,"{'collage1': ['Sanjivani', '2022-2026'], 'coll...","{'Project Title': 'Sample Project', 'Project D...","{'Job Title': 'Sample job', 'Job Duration': '2...","numpy,pandas,matplotlib,data science",Sample certificate,Sample Acheivement,This is summary\n\n

In [ ]:
first_name =  df['First Name'].iloc[0]
last_name = df['Last Name'].iloc[0]
name = first_name + ' ' + last_name
name

'siddhant thombare'

In [4]:
mob_no = df['Contact No'].iloc[0]
mob_no

7875757947

In [9]:
email = df['Email'].iloc[0]
email

'siddhantthombare2121@gmail.com'

In [11]:
# Education data 
col1_name = ''
col1_duration = ''
col2_name = ''
col2_duration = ''
data = df['Education'].iloc[0]
sample = ast.literal_eval(data)
count = 1
for values in sample.values():
    if count == 1:
        col1_name = values[0]
        col1_duration = values[1]
        count += 1
    else:
        col2_name = values[0]
        col2_duration = values[1]
    
print(col1_name, col2_name)
print(col1_duration, col2_duration)

asd ad21
2 1

In [ ]:
# Project data
proj_duration = ''
proj_title = ''
data = df['Project'].iloc[0]
sample = ast.literal_eval(data)
count = 1
for values in sample.values():
    if count == 1:
        proj_title = values
        count += 1
    else:
        proj_disc = values

'sdf'

In [23]:
# Experience data
job_title = ''
job_durn = ''
job_disc = ''

data = df['Experience'].iloc[0]
sample = ast.literal_eval(data)
count = 1
for values in sample.values():
    if count == 1:
        job_title = values
        count += 1
    elif count == 2:
        job_durn = values
        count += 1
    else:
        job_disc =  values

print(job_title,job_durn,job_disc)

dfasd 212 asd

In [6]:
skill_list = df['Skills'].iloc[0].split(',')
skill_list

['numpy', 'pandas', 'matplotlib', 'data science']

In [7]:
acheive_list = df['Achievement'].iloc[0].split(',')
acheive_list

['Sample Acheivement']

In [44]:
cert_list = df['Certificate'].iloc[0].split(',')

In [ ]:
summary = df['Summary'].iloc[0]